@using CarWorld.Web.ViewModels.Administration.Models
@model ModelListViewModel
@{
    var routeData = new Dictionary<string, string>
    {
        {"search", $"{Model.Search}"},
        {"MakeId", $"{Model.MakeId}"},
    };

    ViewData["Title"] = "Manage Models";
}

<partial name="_AlertsPartial" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <h3 class="card-title">Models</h3>
            <div class="card-header">

                <form asp-action="ManageModels" method="get">

                    <div class="form-row">

                        <div class="col-md-6">
                            <label>Search</label>
                            <input type="text" name="Search" class="form-control" placeholder="Search ......" value="@Model.Search">
                        </div>


                        <div class="form-group col-md-6">
                            <label>Make</label>
                            <select asp-for="MakeId" name="MakeId" class="form-control" asp-items="@Model.Makes"></select>
                        </div>

               
                    </div>

                    <button type="submit" asp-route-id="1" class="btn btn-outline-secondary">Search</button>
                </form>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Make name</th>
                            <th>Is Deleted</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var carModel in Model.Models)
                        {
                            <tr>
                                <td>@carModel.Name</td>
                                <td>@carModel.MakeName</td>
                                <td>@carModel.IsDeleted</td>
                                <td>
                                     <form method="post" asp-area="admin" asp-action="recover" asp-controller="models" asp-route-id="@carModel.Id">
                                        <button class="btn btn-primary btn-success">Recover model</button>
                                    </form>

                                    <form method="post" asp-area="admin" asp-action="delete" asp-controller="models" asp-route-id="@carModel.Id">
                                        <button class="btn btn-primary btn-danger">Delete model</button>
                                    </form>

                                    <a asp-area="admin" asp-action="edit" asp-controller="models" asp-route-id="@carModel.Id" class="btn btn-primary btn-dark">Edit model</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if(!Model.HasPreviousPage) {
        <text>disabled</text>
        }">
            <a class="page-link" asp-all-route-data="routeData" asp-route-id="1">First</a>
        </li>
        <li class="page-item @if(!Model.HasPreviousPage) {
        <text>disabled</text>
        }">
            <a class="page-link" asp-all-route-data="routeData" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (var i = @Model.PageNumber - 3; i < @Model.PageNumber; i++)
        {
            @if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-all-route-data="routeData" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only"></span>
            </span>
        </li>
        @for (var i = @Model.PageNumber + 1; i < @Model.PageNumber + 3; i++)
        {
            @if (i <= @Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-all-route-data="routeData" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item @if(!Model.HasNextPage) {
        <text>disabled</text>
        }">
            <a class="page-link" asp-all-route-data="routeData" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
        <li class="page-item @if(!Model.HasNextPage) {
        <text>disabled</text>
        }">
            <a class="page-link" asp-all-route-data="routeData" asp-route-id="@Model.PagesCount">Last</a>
        </li>
    </ul>
</nav>