@using CarWorld.Web.Infrastructure.Extensions
@using CarWorld.Web.ViewModels.Administration.Cars
@using CarWorld.Web.ViewModels.Models
@model CarsForAdminListViewModel
@{
    ViewData["Title"] = "Manage cars, peage " + @Model.PageNumber;

    Model.Makes.Insert(0, new SelectListItem("Select make", ""));

    var defaultModel = new ModelsDropDown { ModelId = null, ModelName = "Select model" };

    Model.Models.Insert(0, defaultModel);

    Model.Regions.Insert(0, new SelectListItem("Select region", ""));
}

<partial name="_AlertsPartial" />

<div class="row">
    <div class="col-12">
        <div class="card">

            <h3 class="card-title">Cars</h3>
            <div class="card-header">

                <form asp-action="ManageCars" method="get">

                    <div class="form-row">

                        <div class="col-md-4">
                            <label>Search</label>
                            <input type="text" name="Search" class="form-control" placeholder="Search ......" value="@Model.Search">
                        </div>

                        <div class="form-group col-md-4">
                            <label>Make</label>
                            <select asp-for="MakeId" class="form-control" asp-items="@Model.Makes"></select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Model</label>
                            <select asp-for="ModelId" asp-items="@(new SelectList(@Model.Models, "ModelId", "ModelName"))" class="form-control"></select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Region</label>
                            <select asp-for="RegionId" asp-items="@Model.Regions" class="form-control"></select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Order by</label>
                            <select name="OrderBy" asp-for="OrderBy" value="@Model.OrderBy" class="form-control" style="width: 100%">
                                <option value="DateDesc">Date descending</option>
                                <option value="DateAsc">Date ascending</option>
                                <option value="PriceDesc">Price descending</option>
                                <option value="PriceAsc">Price ascending</option>
                            </select>
                        </div>

                    </div>

                    <button type="submit" asp-route-id="1" class="btn btn-outline-secondary">Search</button>
                </form>
            </div>


            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Make</th>
                            <th>Is Deleted</th>
                            <th>Model</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Year</th>
                            <th>Creator username</th>
                            <th>City</th>
                            <th>Color</th>
                            <th>Car type</th>
                            <th>Created on</th>
                            <th>Horsepower</th>
                            <th>Mileage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var car in @Model.Cars)
                        {
                            <tr>
                                <td>@car.MakeName</td>
                                <td>@car.IsDeleted</td>
                                <td>@car.ModelName</td>
                                <td>@car.Title</td>
                                <td>@car.Price</td>
                                <td>@car.Year</td>
                                <td>@car.UserName</td>
                                <td>@car.City</td>
                                <td>@car.Color</td>
                                <td>@car.CarType.GetDisplayName()</td>
                                <td>@car.CreateDate</td>
                                <td>@car.HorsePower</td>
                                <td>@car.Mileage</td>
                                <td>
                                    <form method="post" asp-area="admin" asp-action="delete" asp-controller="cars" asp-route-id="@car.Id">
                                        <button class="btn btn-block btn-danger">Delete car</button>
                                    </form>
                                </td>
                                <td>
                                    <a asp-area="admin" asp-action="details" asp-controller="cars" asp-route-id="@car.Id" class="btn btn-block btn-info">View car</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <partial name="_PartialPaging" model="@Model" />

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#MakeId').change(function () {
            var url = '@Url.Content("~/")' + "Admin/Cars/GetModels";
            var ddlsource = "#MakeId";
            $.getJSON(url, { MakeId: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#ModelId").empty();
                items += "<option value='" + "" + "'>" + "Select model" + "</option>";
                $.each(data, function (i, model) {
                    items += "<option value='" + model.value + "'>" + model.text + "</option>";
                });
                $('#ModelId').html(items);
            });
        });
    });
</script>
