@using CarWorld.Web.ViewModels.Administration.Users
@model UserListViewModel
@{
    var routeData = new Dictionary<string, string>
    {
        {"search", $"{Model.Search}"},
        {"OrderBy" , $"{Model.OrderBy}"},
    };

    ViewData["Title"] = "Manage Users";
}

<partial name="_AlertsPartial" />

<div class="row">
    <div class="col-12">
        <div class="card">

            <h3 class="card-title">Users</h3>
            <div class="card-header">

                <form asp-action="ManageMakes" method="get">

                    <div class="form-row">

                        <div class="col-md-6">
                            <label>Search</label>
                            <input type="text" name="Search" class="form-control" placeholder="Search ......" value="@Model.Search">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Order by</label>
                            <select name="OrderBy" asp-for="OrderBy" value="@Model.OrderBy" class="form-control" style="width: 100%">
                                <option value="NameAsc">Name ascending</option>
                                <option value="NameDesc">Name descending</option>
                            </select>
                        </div>

                    </div>

                    <button type="submit" asp-route-id="1" class="btn btn-outline-secondary">Search</button>
                </form>
            </div>


            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Phone number</th>
                            <th>Is deleted</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Email</td>
                                <td>@user.PhoneNumber</td>
                                <td>@user.IsDeleted</td>
                                <td>
                                    <a asp-area="admin" asp-action="recover" asp-controller="users" asp-route-id="@user.Id" class="btn btn-primary btn-success">Recover account</a>
                                    <a asp-area="admin" asp-action="delete" asp-controller="users" asp-route-id="@user.Id" class="btn btn-primary btn-danger">Delete account</a>
                                    <a asp-area="admin" asp-action="roles" asp-controller="users" asp-route-id="@user.Id" class="btn btn-primary btn-dark">Manage roles</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if(!Model.HasPreviousPage) {
        <text>disabled</text>
        }">
            <a class="page-link" asp-all-route-data="routeData" asp-route-id="1">First</a>
        </li>
        <li class="page-item @if(!Model.HasPreviousPage) {
        <text>disabled</text>
        }">
            <a class="page-link" asp-all-route-data="routeData" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (var i = @Model.PageNumber - 3; i < @Model.PageNumber; i++)
        {
            @if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-all-route-data="routeData" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only"></span>
            </span>
        </li>
        @for (var i = @Model.PageNumber + 1; i < @Model.PageNumber + 3; i++)
        {
            @if (i <= @Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-all-route-data="routeData" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item @if(!Model.HasNextPage) {
        <text>disabled</text>
        }">
            <a class="page-link" asp-all-route-data="routeData" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
        <li class="page-item @if(!Model.HasNextPage) {
        <text>disabled</text>
        }">
            <a class="page-link" asp-all-route-data="routeData" asp-route-id="@Model.PagesCount">Last</a>
        </li>
    </ul>
</nav>

