@using CarWorld.Web.ViewModels.Cars
@using CarWorld.Web.ViewModels.Paging
@model UsersCarsListViewModel
@{
    ViewData["Controller"] = "Cars";
    ViewData["Action"] = "UserCars";
}


@*<form asp-action="UserCars" method="get" class="col-md-10">
    <div class="form-row">

        <div class="col-md-6">
            <p>
                Search : <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="UserCars">Back to Full List</a>
            </p>
        </div>

        <div class="col-md-3">
            <label>Search by</label>
            <select name="SearchBy" class="form-group" style="width: 100%;">
                <option value="Title">Title</option>
                <option value="Make">Make</option>
                <option value="Model">Model</option>
                <option value="City">City</option>
            </select>
        </div>

        <div class="col-md-3">
            <label>Order by</label>
            <select name="OrderBy" class="form-group" style="width: 100%">
                <option value="DateDesc">Date descending</option>
                <option value="DateAsc">Date ascending</option>
                <option value="PriceDesc">Price descending</option>
                <option value="PriceAsc">Price ascending</option>
            </select>
        </div>
    </div>

</form>*@

<hr />

<div class="container-fluid">
    <div class="row">
        @foreach (var car in Model.Cars)
        {
            <div class="col-md-4">
                <div class="card" style="height:100%">
                    <img class="card-img-top" src="@car.ThumbnailPicturePath" alt="@car.MakeName @car.ModelName @car.CreationYear">
                    <div class="card-body text-center">
                        <h4 class="card-text text-center text-black text-truncate">Title- @car.Title</h4>
                        <h5 class="card-text text-center text-black ">Make- @car.MakeName Model- @car.ModelName Year- @car.CreationYear Price- @car.Price $</h5>
                        <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">View</a>
                        <a asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_PartialPaging" model="@Model" />