@using CarWorld.Web.ViewModels.Cars
@using CarWorld.Web.ViewModels.Models
@model UsersCarsListViewModel
@{
    ViewData["Title"] = "Manage cars, peage " + @Model.PageNumber;

}

<hr />

<partial name="_AlertsPartial" />
<partial name="_FilterPartial" model="@Model" />

<hr />

@if (!Model.Cars.Any())
{
    <h1>No results found</h1>
}
else
{
    <div class="container-fluid">
    <div class="row">
        @foreach (var car in Model.Cars)
        {
            <div class="col-md-4">
                <div class="card" style="height:100%">
                    <img class="card-img-top" src="@car.ThumbnailPicturePath" alt="@car.MakeName @car.ModelName @car.CreationYear">
                    <div class="card-body text-center">
                        <h4 class="card-text text-center text-black text-truncate">Title- @car.Title</h4>
                        <h5 class="card-text text-center text-black ">Make- @car.MakeName Model- @car.ModelName Year- @car.CreationYear Price- @car.Price $</h5>
                        <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">View</a>
                        <a asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}

<partial name="_PartialPaging" model="@Model" />

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#MakeId').change(function () {
            var url = '@Url.Content("~/")' + "Admin/Cars/GetModels";
            var ddlsource = "#MakeId";
            $.getJSON(url, { MakeId: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#ModelId").empty();
                items += "<option value='" + "" + "'>" + "Select model" + "</option>";
                $.each(data, function (i, model) {
                    items += "<option value='" + model.value + "'>" + model.text + "</option>";
                });
                $('#ModelId').html(items);
            });
        });
    });
</script>