@using CarWorld.Web.ViewMod.els.Administration.Makes
@model MakeListViewModel
@{
    ViewData["Title"] = "Manage Makes";
    ViewData["Action"] = "ManageMakes";
}

<partial name="_AlertsPartial" />

<div class="row">
    <div class="col-12">
        <div class="card">

            <h3 class="card-title">Makes</h3>
            <div class="card-header">

                <form asp-action="ManageMakes" method="get">

                    <div class="form-row">

                        <div class="col-md-6">
                            <label>Search</label>
                            <input type="text" name="Search" class="form-control" placeholder="Search ......" value="@Model.Search">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Order by</label>
                            <select name="OrderBy" asp-for="OrderBy" value="@Model.OrderBy" class="form-control" style="width: 100%">
                                <option value="NameAsc">Name ascending</option>
                                <option value="NameDesc">Name descending</option>
                            </select>
                        </div>

                    </div>

                    <button type="submit" asp-route-id="1" class="btn btn-outline-secondary">Search</button>
                </form>
            </div>


            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Make name</th>
                            <th>Is Deleted</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var make in Model.Makes)
                        {
                            <tr>
                                <td>@make.Name</td>
                                <td>@make.IsDeleted</td>
                                <td>
                                    <a asp-area="admin" asp-action="recover" asp-controller="makes" asp-route-id="@make.Id" class="btn btn-primary btn-success">Recover make</a>
                                    <a asp-area="admin" asp-action="delete" asp-controller="makes" asp-route-id="@make.Id" class="btn btn-primary btn-danger">Delete make</a>
                                    <a asp-area="admin" asp-action="edit" asp-controller="makes" asp-route-id="@make.Id" class="btn btn-primary btn-dark">Edit make</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<partial name="_PartialPaging" model="@Model" />