@using CarWorld.Web.ViewMod.els.Administration.Makes
@model MakeListViewModel
@{
    ViewData["Title"] = "Manage Makes";
    ViewData["Action"] = "ManageMakes";
}

<partial name="_AlertsPartial" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Makes</h3>
                <form asp-action="ManageMakes" method="get">
                    <div class="form-actions no-color">
                        <p>
                            Find by name: <input type="text" name="searchText" value="@ViewData["CurrentFilter"]" />
                            <input type="submit" value="Search" class="btn btn-default" /> |
                            <a asp-action="ManageMakes">Reset search</a>
                        </p>
                    </div>
                </form>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Make name</th>
                            <th>Is Deleted</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var make in Model.Makes)
                        {
                            <tr>
                                <td>@make.Name</td>
                                <td>@make.IsDeleted</td>
                                <td>
                                    <a asp-area="admin" asp-action="recover" asp-controller="makes" asp-route-id="@make.Id" class="btn btn-primary btn-success">Recover make</a>
                                    <a asp-area="admin" asp-action="delete" asp-controller="makes" asp-route-id="@make.Id" class="btn btn-primary btn-danger">Delete make</a>
                                    <a asp-area="admin" asp-action="edit" asp-controller="makes" asp-route-id="@make.Id" class="btn btn-primary btn-dark">Edit make</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<partial name="_PartialPaging" model="@Model" />